@import "tailwindcss";

@layer utilities {
  .container-app {
    @apply 
      w-full 
      mx-auto 
      px-4
      sm:px-6
      md:max-w-3xl
      lg:max-w-6xl lg:px-8
      xl:max-w-7xl xl:px-10;
  }
}
